.Daily-forecast-wrapper {
  display: flex;
  height: 100%;

  flex-direction: row;
  justify-content: center;

  .Daily-forecast-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;

    .Daily-forecast-title {
      color: white;
    }

    .Hourly-wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      border-left: 3px solid white;
    }
  }
}
